.container{
    /* height: 100vh; */
    overflow-y: hidden;
} 
.container > .grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.container > .grid > .left > .image{
    width: 100%;
    height: 100vh;
}

.container > .grid > .right{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.container > .grid > .right h2{
    color: rgb(68, 67, 67);
}

.container > .grid > .right > .form{
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 20px;
}

.container > .grid > .right > .form > div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.container > .grid > .right > .form > div > input {
    padding: 10px 5px;
    border: none;
    box-shadow: 0px 0px 5px gray;
    outline: none;
    border-radius: 5px;
}

.container > .grid > .right > .form > div > label > span{
    color: red;
}

.container > .grid > .right > .form > input{
    width: 100px;
    margin-left: auto;
    background-color: #2666FA;
    color: white;
    border: none;
    padding: 10px 0px;
    border-radius: 5px;
    cursor: pointer;
}